@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0.9, 0, 0,0.8), rgba(0, 0, 0.9,0.5)), url('img/s3-news-tmp-637022-vr_love--default--1280.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.navbar a,li,ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    padding: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 30px;
    white-space: nowrap;
}
.navbar a:hover{
    color:  rgb(211, 56, 82);
    text-decoration: underline;
}
.logo-navbar{
    color: white;
    font-family: 'Roboto', cursive;
    margin-left: 100px;
}
#verse{
    color: rgb(211, 56, 82);
    color: white;
    font-family: 'Roboto', cursive;
}
#verse1{
    color: rgb(211, 56, 82);
}
.show-btn{
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px 10px 10px 10px;
    font-weight: bolder;
    text-align: right;
    margin-left: 200px;
    cursor: pointer;
    background-color: white;
    color: black;
}
.show-btn:hover{
    background-color: grey;
}
.sessao1{
   font-size: 60px;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: bolder;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 300px;
   margin-top: 100px;
}
.btn1{
    color: white;
    background-color: blueviolet;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background-color: rgb(211, 56, 82);
    padding: 5px;
    height: 90px;
    width: 250px;
    font-size: 30px;
    border-radius: 30px;
}
.btn1:hover{
    background-color: rgb(222, 23, 56);
    cursor: pointer;
}                                       
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    display: none;
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0.6, 0.7, 0.8,0.9);
}
#show:checked ~ .container{
    display: block;
}
.login-exit{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.exit:hover{
    color: (211, 56, 82);
}
.container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.container form{
    margin-top: -20px;
}
input[type="checkbox"]{
    display: none;
}
.container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}
form .data label{
    font-size: 18px;
}
form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
    font-family: 'Roboto', sans-serif;
}
form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
}
form .esqueceu{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
form .esqueceu a{
    color: blue;
    text-decoration: none;
}
form .esqueceu a:hover{
    text-decoration: underline;
}
form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
form .btn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    transition: all 0.4s;
    background: -webkit-linear-gradient(right, rgb(211, 56, 82),rgb(174, 114, 124), rgb(211, 56, 82), rgb(174, 114, 124));
}
form .btn:hover .inner{
    left: 0;
}
form .btn  button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
form .signup-link{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
form .signup-link a{
    color: blue;
    text-decoration: none;
    font-weight: 500;
}
form .signup-link a:hover{
    text-decoration: underline;
}
.container2{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container2{
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0.6, 0.7, 0.8,0.9);
}
.container2 .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.container2 form{
    margin-top: -20px;
}
.container2 form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}
#show2:checked ~ .container2{
    display: block;
}
@media (max-width: 667px){
    body{
        width: 100%;
        background-position: center;
    }
    .navbar a,ul,li{
        display: none;
    }
    .sessao1{
        font-size: 20px;
    }
    .btn1{
        width: 200px;
        height: 100px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}